html {
    font-size: 10px;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
  }
  
  h1 {
    font-size: 4rem;
    margin-block: 0;
  }
  
  
  h2 {
    font-size: 3.25rem;
  }
  
  a {
    color: #477ca7;
  }
  
  a:visited {
    color: #74638f;
  }
  
  #main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
  }
  
  
  img {
    max-width: 100%;
    display: block;
    height: auto;
    width: 70vw;
    max-height: 80vh;
    margin: 0 auto;
  }
  
  #img-div {
    background: white;
    padding: 10px;
    padding-top: 4rem;
    margin: 0;
  }
  
  #img-caption {
    margin: 1rem 0 0.28rem 0;
  }
  
 
  
  #headline {
    margin: 4rem 0;
    text-align: center;
  }
  
  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }
  
  blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
  }
  


  @media (max-width: 460px) {

    #main {
        margin: 0;
      }
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
    #img-caption {
        font-size: 1.4rem;
      }

  }
